
<div class="container mx-auto mt-10 px-5 flex justify-center">
      <div class="divide-y divide-gray-300/50">
            <div class="text-center mb-10"> 
        <p class="font-poirot text-4xl">About again.wtf</p>
    </div>
  <div class="relative px-6 pb-8 bg-white shadow-xl ring-1 ring-gray-900/10 sm:max-w-lg sm:mx-auto sm:rounded-lg sm:px-10">
    <div class="max-w-md mx-auto">
        <div class="py-8 text-base leading-7 space-y-6 text-gray-600">
          <p>This app demonstrates the Google Natural Language API and is using:</p>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                Sentiment analysis from Google Cloud's <a href="https://cloud.google.com/natural-language" class="text-sky-500 hover:text-sky-600 stroke-2">Natural Language AI API</a>
              </p>
            </li>
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                CSS framework from <a href="https://tailwindcss.com/" class="text-sky-500 hover:text-sky-600 stroke-2">Tailwind</a>
              </p>
            </li>
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                Web components from <a href="https://shoelace.style/" class="text-sky-500 hover:text-sky-600 stroke-2">Shoelace</a>
              </p>
            </li>
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                Ruby v3.0.3 running on <a href="https://rubyonrails.org/" class="text-sky-500 hover:text-sky-600 stroke-2">Rails 6.1.4.4</a>
                </p>
            </li>
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                Build and containerization via <a href="https://www.docker.com" class="text-sky-500 hover:text-sky-600 stroke-2">Docker</a>
                </p>
            </li>
            <li class="flex items-center">
              <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4">
                Database, repository management, and deployment with <a href="https://cloud.google.com" class="text-sky-500 hover:text-sky-600 stroke-2">Google Cloud</a>
                </p>
            </li>
          </ul>
        </div>
        <div class="pt-8 text-base leading-7 font-semibold">
          <p class="text-gray-900">Want to see how?</p>
          <p>
            <a href="https://github.com/" class="text-sky-500 hover:text-sky-600">repo coming soon &rarr;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
